---
import "../styles/generel.css";
const { title, year, img, link, data } = Astro.props;
---

<a class="box" href={`/designs/${data.slug}`} name={data.type} name={data.year}>
  <img src={data.image} alt={data.image_text} />
  <p class="miniTitle">{data.title}</p>
  <div class="overlay">
    <div class="items">
      <h3>{data.title}</h3>
      <hr />
      <p>{data.year} | {data.type} design | {data.location} | <span class="hyperlink">Read more . . .</span></p>
    </div>
  </div>
</a>

<style>
  a {
    display: grid;
    place-items: start;

    text-decoration: none;
  }
  img,
  p,
  .overlay {
    grid-area: 1/1;
  }
  .miniTitle {
    margin-top: 1%;
    margin-right: auto;
    transition: var(--unfocus);
    background-color: var(--secondary-35);
  }

  img {
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 2px;
    transition: var(--unfocus);
    z-index: -1;
    transform: translateX(0.5rem) translateY(0.5rem);
  }
  .overlay {
    padding: 1.5rem;
    opacity: 0;
    transition: var(--unfocus);
    background-color: var(--primary-35);
    border-radius: 1px;
    overflow: hidden;
    z-index: 1s;
    width: 100%;
  }
  a:hover .overlay {
    opacity: 1;
    transition: var(--focus);
  }
  a:hover img {
    /* filter: blur(2px); */
    transform: translateX(0) translateY(0);
    transition: var(--focus);
    filter: brightness(50%);
  }
  a:hover .miniTitle {
    opacity: 0;
    transition: var(--focus);
  }
  .items h3 {
    margin: auto;
  }
  .items p {
    text-align: end;
  }
  hr {
    border: 1px var(--body-contrast) solid;
    max-width: 5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: end;
  }

  .box {
    border-radius: 2px;
    border: 1px var(--body-contrast) solid;
    transition: var(--unfocus);
    aspect-ratio: 1/1;
  }

  .box:hover {
    transition: var(--focus);
  }

  @media (min-width: 900px) {
    img {
      transform: translateX(1.5rem) translateY(1.5rem);
    }
    a {
      place-items: center;
    }

    .miniTitle {
      margin-top: -95%;
      margin-right: auto;
      transition: var(--unfocus);
      background-color: transparent;
    }
  }
</style>
